<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/less/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/less/public.css">
  <link rel="stylesheet" href="/less/index.css">
</head>

<body>
  <div class="index">
    <div class="header-nav">
      <div class="_l nav-title">商品管理系统</div>
      <div class="_r">
        <div class="img-box cursor">
          <img id="user-img" class="auto-img" src="" alt="">

          <label class="user-label">
            <input type="file" class="user-file" />
          </label>
        </div>
        <div id="nickname">昵称</div>

        <div class="cursor setting-box">设置
          <div class="list-menu">
            <div class="menu-item" data-target="#nickname-box" data-toggle="modal">修改昵称</div>
            <div class="menu-item" data-target="#password-box" data-toggle="modal">修改密码</div>
          </div>
        </div>
        <div class="cursor" id="logout">退出</div>
      </div>
    </div>
    <div class="content-box">
      <div class="aside">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne">
              <div class="mb-0">
                <div class="c-title s1" data-toggle="collapse" data-target="#collapseOne">
                  <span class="list-icon"><i class="fa fa-cube"></i></span>
                  <span>商品管理</span>
                  <span><i class="fa fa-angle-right "></i></span>
                </div>
              </div>
            </div>

            <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
              <div class="card-body">
                <div class="c-item active">商品类型</div>
                <div class="c-item" id="product-list">商品列表</div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingOne1">
              <div class="mb-0">
                <div class="c-title s1" data-toggle="collapse" data-target="#collapseOne1">
                  <span class="list-icon"> <i class="fa fa-file-text-o "></i></span>
                  <span>订单管理</span>
                  <span> <i class="fa fa-angle-right "></i></span>
                </div>
              </div>
            </div>

            <div id="collapseOne1" class="collapse" data-parent="#accordionExample">
              <div class="card-body">
                <div class="c-item">订单列表</div>
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingOne2">
              <div class="mb-0">
                <div class="c-title s1" data-toggle="collapse" data-target="#collapseOne2">
                  <span class="list-icon"><i class="fa fa-bar-chart "></i></span>
                  <span>数据统计</span>
                  <span><i class="fa fa-angle-right "></i></span>
                </div>
              </div>
            </div>

            <div id="collapseOne2" class="collapse" data-parent="#accordionExample">
              <div class="card-body">
                <div class="c-item">
                  数据图表
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content">

        <div class="_t">
          <div class=" type-title">商品类型</div>
          <div class=" search-box">
            <input id="ipt_val" type="text" class="form-control" placeholder="输入商品类型名称">
          </div>
          <div class="">
            <button id="btn_search" type="button" class="btn btn-primary">搜索</button>
          </div>
        </div>

        <div class="add-type">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#type">添加商品类型</button>
        </div>

        <div class="table-box">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th>序号</th>
                <th>类型名称</th>
                <th>状态</th>
                <th>添加时间</th>
                <th>更新时间</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody id="_tbody">


            </tbody>
          </table>
          <nav>
            <ul class="pagination justify-content-center">
              <li class="page-item" id="prev"><a class="page-link" href="#">上一页</a></li>
              <li class="page-item"><a id="current-page" class="page-link" href="#">0</a></li>
              <li class="page-item" id="next"><a class="page-link" href="#">下一页</a></li>
              <li class="page-item"><a class="page-link" href="#">共<span id="total-page"></span>页</a></li>
            </ul>
          </nav>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="type" data-backdrop="static" data-keyboard="false" tabindex="-1"
          aria-labelledby="staticBackdropLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">添加商品类型</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="form-group Ipt1">
                  <label for="typename">商品类型</label>
                  <input type="text" class="form-control" id="typename">
                </div>

              </div>
              <div class="modal-footer">
                <button id="save" type="button" class="btn btn-primary">保存</button>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <!-- 修改昵称 -->
  <div class="modal fade" id="nickname-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">修改昵称</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="new-nickname" class="col-sm-2 col-form-label">新昵称</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="new-nickname" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="commit-nickname">提交</button>
        </div>
      </div>
    </div>
  </div>

  <!-- 修改密码 -->
  <div class="modal fade" id="password-box" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">修改密码</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group row">
              <label for="old-password" class="col-sm-2 col-form-label">旧密码</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="old-password" />
              </div>
            </div>
            <div class="form-group row">
              <label for="new-password" class="col-sm-2 col-form-label">新密码</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" id="new-password" />
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="commit-pwd">提交</button>
        </div>
      </div>
    </div>
  </div>


  <script src="/js/jquery.min.js"></script>
  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/utils.js"></script>
  <script src="/js/index.js"></script>
  <script src="/js/head.js"></script>
</body>

</html>